# docker compose
COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=adguardhome/compose.yml:nginx-proxy-manager/compose.yml:openspeedtest/compose.yml:uptime-kuma/compose.yml
COMPOSE_PROJECT_NAME=homelab

# config storage
HOMELAB_DIR=${PWD}
CONFIG_DIR=${HOMELAB_DIR}/.config

# container user
PUID=
PGID=
TZ=
