# docker compose
COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=adguardhome/compose.yml:coder/compose.yml:homepage/compose.yml:nginx-proxy-manager/compose.yml:openspeedtest/compose.yml:uptime-kuma/compose.yml
COMPOSE_PROJECT_NAME=homelab
DOCKER_GID=

# config storage
HOMELAB_DIR=${PWD}
CONFIG_DIR=${HOMELAB_DIR}/.config

# container user
PUID=
PGID=
TZ=

# domain
HOMELAB_DOMAIN=

# rclone remote
RCLONE_REMOTE=
RCLONE_BACKUP_DIR=

# sendgrid settings
SENDGRID_EMAIL=
SENDGRID_SMTP_USERNAME="apikey"
SENDGRID_SMTP_PASSWORD=
SENDGRID_SMTP_HOST="smtp.sendgrid.net"
SENDGRID_SMTP_PORT="587"
SENDGRID_SMTP_SECURITY="starttls"
SENDGRID_SMTP_AUTH_MECHANISM="Login"

# vaultwarden env
VAULTWARDEN_ORG=
VAULTWARDEN_ADMIN_TOKEN=
